.convert {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  height: 100%;
  text-shadow: 1px 1px #ccc;
}

/* .convert button {
  background-color: blue;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
} */
.convert button {
  width: 230px;
  height: 52px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: #675afe;
  background: #009879;
  transition: 0.3s ease;
  border: none;
  border-radius: 5px;
}
.convert button:hover {
  background: #3a7267;
}
