/* ul {
  display: flex;
  background-color: #142c8e;
  position: sticky;
} */
.cw_navbar__mainnav {
  background-color: #142c8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 6rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 901;
}
.cw_navbar__logo {
  padding-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cw_navbar__primary {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cw_navbar .cw_navbar__secondary {
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}
.cw_navbar__secondary {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

ol,
ul {
  padding: 0;
}
